h1 {color:#002FFF;
  font-size:80px;
  background:#4B433F;
  border:2px solid #323232;
}
p {
	color:
	
	
	
}
img  {
 background: #ccc; overflow: hidden; 
  width: 600px; height: ; 	strong:100px 
  
  }
body { 
    background: #ffffa4;
}



	.par {
		border: 6px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    right: 10px; 

		
	}
	#menu ul li {
		list-style: none;
		display: inline;
		
	}